* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

html { font-size: 62.5%; }

body { font-size: 1.6rem; }

.container {
	display: flex;
	flex-flow: row wrap;
	width: 15cm;
	height: 15cm;
}
.blues {
	width: 200px;
	height: 100px;
	background-color: lightblue;
}